<!-- Организовываем страницу "Блог" -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blogs/header :: header"></header>

<div class="container mt-5">
    <h1>Блог сайта</h1>

    <!-- Чтобы вывести все записи, переданные из BlogController, нужен цикл, так как значения - массив -->
    <div th:each="element : ${posts}" class="alert alert-info mt-2"> <!-- мы обращаемся к  www.thymeleaf.org, к его методу each, который перебирает инфу.
    наша переменная element из переданного массива posts-->
        <h3 th:text="${element.title}"/> <!-- у нас есть private поле title и мы к нему обращаемся от element -->
        <p th:text="${element.anons}"/> <!-- у нас есть private поле anons и мы к нему обращаемся от element -->
        <a th:href="'/blog/' + ${element.id}" class="btn btn-warning">Детальнее</a>
    </div>

</div>

<footer th:insert="blogs/footer :: footer"></footer>
</body>
</html>