<!-- Организовываем страницу "Подробнее" -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blogs/header :: header"></header>

<div class="container mt-5">
    <div th:each="element : ${post}" class="alert alert-info mt-2"> <!-- мы обращаемся к  www.thymeleaf.org, к его методу each, который перебирает инфу.
    наша переменная element из переданного массива posts-->
        <h1 th:text="${element.title}"/> <!-- у нас есть private поле title и мы к нему обращаемся от element -->
        <p th:text="${element.fullText}"/> <!-- у нас есть private поле full_text и мы к нему обращаемся от element -->
        <a th:href="'/blog/' + ${element.id} + '/edit'" class="btn btn-warning">Редактировать</a><br><br>

        <!-- кнопка Удалить отправляет Post данные на обработку -->
        <form th:action="'/blog/' + ${element.id} + '/remove'" method="post">
            <button class="btn vtn-warning" type="submit">Удалить</button>
        </form>
    </div>

</div>

<footer th:insert="blogs/footer :: footer"></footer>
</body>
</html>