<!--HTML code for LogIn page-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="blogs/head :: head"></head>

<body>
<header th:insert="blogs/header :: header"></header>

<div class="container">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Please, Log in</h1>

                <form method="get" action="/login">
                    <div class="form-floating m-3">
                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                        <label for="email">E-mail</label>
                    </div>
                    <div class="form-floating m-3">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                        <label for="password">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </form>
                <form class="m-3">
                    <a href="/registration">If you aren't registered</a>
                </form>

            </div>
        </div>
    </section>
</div>

<footer th:insert="blogs/footer :: footer"></footer>

</body>
</html>