<!--HTML code for LogIn page-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="blogs/head :: head"></head>

<body>
<header th:insert="blogs/header :: header"></header>

<div class="container">

    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${message} != null">
        <strong th:text="${message}"/>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Please, Sign in</h1>

                <form method="post" action="/registration" th:object="${user}">
                    <div class="form-floating m-3">
                        <input name="firstName" type="text" class="form-control" id="first_name"
                               placeholder="FirstName">
                        <label for="first_name">First name</label>
                    </div>
                    <div class="form-floating m-3">
                        <input name="lastName" type="text" class="form-control" id="last_name" placeholder="LastName">
                        <label for="last_name">Last name</label>
                    </div>
                    <div class="form-floating m-3">
                        <input name="email" type="email" class="form-control" id="email" placeholder="email">
                        <label for="email">E-mail</label>
                    </div>
                    <div class="form-floating m-3">
                        <input name="password" type="password" class="form-control" id="password"
                               placeholder="Password">
                        <label for="password">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </section>
</div>

<footer th:insert="blogs/footer :: footer"></footer>

</body>
</html>