<div th:fragment="scroll-to-top-button-container">
    <scroll-to-top-button-container data-position-vertical="top" data-position-horizontal="right" data-state-active="">
        <noscript>
            <style>
                scroll-to-top-button-container {
                    display: none !important;
                }
            </style>
        </noscript>
    </scroll-to-top-button-container>
    <scroll-to-top-button-container data-position-vertical="top" data-position-horizontal="right" data-state-active="">
        <noscript>
            <style>
                scroll-to-top-button-container {
                    display: none !important;
                }
            </style>
        </noscript>
    </scroll-to-top-button-container>
</div>